/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;
     height: 500px;
     background-color: green;
}

header {width: 960px;
     margin: auto;

}

footer {width: 960px;
     margin: auto;

}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

#sidebar-left {
     width:220px;
     height: 400px;
     background:aqua;
     padding:10px;
     border:1px solid black;
     word-wrap: break-word;
}

#sidebar-right {
     width: 220px;
     height: 400px;
     background: gray;
     padding:10px;
     border:1px solid black;
     word-wrap: break-word;
}

#content {
     width:520px;
     height: 400px;
     background:pink;
     padding:10px;
     border:1px solid black;
     word-wrap: break-word;

}



