
/*----------------------------------------------------------------------------- 
=01 HEADER 
-----------------------------------------------------------------------------*/
header {margin: 0 auto;
		width: 100%;
		box-sizing: border-box;
		background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
		background-image: -webkit-gradient(linear,left top,left bottom,
		    color-stop(0, #ffffff),color-stop(1, #dbdbdb));
		filter: progid:DXImageTransform.Microsoft.gradient
		    (startColorStr='#ffffff', EndColorStr='#dbdbdb');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient
		    (startColorStr='#ffffff', EndColorStr='#dbdbdb')";
		padding-top: 1px; /* why??*/
}

.menu {
	width: 90%;
	margin: 0 auto;

}

li.logo a.brand span {
	display: none;
}

a.button {

border: 1px solid #fff;
-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
text-decoration: none;
text-shadow: #fff 0 1px 0;
float: left;
padding: 5px;
display: block;
color: #597390;
font-size: 40px;
font-weight: bold;
box-sizing: border-box;
}

a.button:hover {
background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #ffffff),color-stop(1, #eeeeee));
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#eeeeee');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#eeeeee')";
color: #000;
display: block;
}

a.button:active {
background-image: -moz-linear-gradient(top, #dbdbdb, #ffffff);
background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #dbdbdb),color-stop(1, #ffffff));
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#dbdbdb', EndColorStr='#ffffff');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#dbdbdb', EndColorStr='#ffffff')";
text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.5);
margin-top: 1px;
}

a.button.icon {
padding-left: 11px;
}

a.button.icon span{
padding-left: 50px;}

a.button.icon.location span{
background: url(../images/location.png) no-repeat 0;
}
a.button.icon.category span{
background: url(../images/category.png) no-repeat 0;
}
a.button.icon.login span{
background: url(../images/login.png) no-repeat 0;
}
a.button.icon.signup span{
background: url(../images/signup.png) no-repeat 0;
}





/*----------------------------------------------------------------------------- 
=02 BODY 
-----------------------------------------------------------------------------*/

body {background: url(../images/bg_head.jpg)  repeat-x, url(../images/bg_body.jpg) repeat;}

.container {
  	margin: 0 auto;
  	width: 960px;
  	background: rgba(75, 75, 75, 0.8);
}

.container h1 {
		text-align: center;
		padding: 20px 0;
		margin: 0;
		color: white;

}

.content {box-sizing: border-box;
		width: 33%;
		margin: 0.1rem;
		float: left;

} 

.midi {
	width: 100%;
	margin-bottom: 4px;
}

.mini {
	width: 100%;
	margin-bottom: 4px;
}

.maxi {
	width: 100%;
	margin-bottom: 4px;
}

	.head {background-color: black;
		color: white;
		height: 25px;
		margin: 0;
	}

	.head p {margin: 0px;
		padding: 2px 10px;
	}

	.midi .promopic {
		overflow: hidden;
		margin-bottom: -4px;
	}
	.midi .promopic img {
		width: 100%;
		}

	.maxi .promopic {
		overflow: hidden;
		margin-bottom: -4px;
		}	
	.maxi .promopic img {
		width: 100%;
		}	

		.foot {
		background-color: white;
		overflow: hidden;
	}

		.foot .logo {
		width: 20%;
		border-right: dotted 1px;
	}

	.foot .logo img {
	width: 100%;
	}

	.foot .description {
		background-color: white;
		width: 79%;
	}

		.foot .description h2{
			padding: 10px 0 0 5px;
			margin: 0;
			font-size: 15px;
			font-weight: bold;


		}

		.foot .description p{
			padding: 5px;
			margin: 0;
			font-size: 10px;
		}



/*----------------------------------------------------------------------------- 
=03 MISC 
-----------------------------------------------------------------------------*/

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;	
}

.floatright {
	float: right;
}

.floatleft {
	float: left; 
}

.imgborder {
	border: 5px solid #CCC;	
}

/*----------------------------------------------------------------------------- 
=04 @media 


-----------------------------------------------------------------------------*/


@media only screen and (min-width: 768px) and (max-width: 970px) {
  	body {width: 100%;
  	}

.container {width: 100%;
}

	.content {margin: 0.1%;

	}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

  	body {width: 100%;
}
.container {width: 100%;
}

.content {width: 49%

}

#three {display: none;	}


header form {width: 70%;}

}

@media only screen and (max-width: 479px) {

  	body {width: 100%;
  	}


		.container {width: 100%;
		}

		.content {width: 100%}

		#two {display: none;}

		#three {display: none;

			}

}

