/* 
Project Name: Ecard.ly
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body {background: url("../images/background.jpg");
     background-repeat: repeat-x;
     background-color: #d6d6d6;
     color: #000000;  
     font-family: 'Armata', serif;   
}


h1 {
  height: 213px;
  width: 216px;
  display: block;
  background: url("../images/logo.png");
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 15px auto 30px;
}

h2 {font-size: 20px;
     font-weight: bold;
}

#image {float: left;
     border-radius: 5px;
     margin-right: 10px;
}

#para {font-size: 14px;
  text-align: justify;

}

.ecard {background-color: white;
     margin: 0 auto;
     width: 940px;
     padding: 10px 20px 20px 20px;
     border-radius: 5px;
     border: 1px solid #ccc;
     box-shadow: 1px 1px 30px #ccc;

}

a:link {color: #cc6633;
     font-weight: bold;
     text-decoration: none;
}

a:visited {color: #cc6633;
     font-weight: bold;
     text-decoration: none;
}